html {
  max-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(227deg, #ffffff, #f9f9f9);
  background-size: 400% 400%;
  -webkit-animation: fadeBg 52s ease infinite;
  -moz-animation: fadeBg 52s ease infinite;
  -o-animation: fadeBg 52s ease infinite;
  animation: fadeBg 52s ease infinite;
  @-webkit-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @-moz-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @-o-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
}

body {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.975);
  z-index: 9;
  padding: 24px;
}

.fadeIn {
  animation: opac 1s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay,
.overlay h1 {
  font-weight: 300;
  line-height: 132%;
}

.overlay .inner {
  max-width: 768px;
}

.overlay .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.overlay .header button {
  margin-left: auto;
  font-size: 32px;
  font-weight: thin;
}

.button-container {
  margin-top: 32px;
  display: flex;
}

.button-container .button {
  margin-right: 8px;
}

.overlay.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
a,
p,
li,
a {
  font-weight: 300;
  text-shadow: 1px 1px 1px #f1f1f1;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  color: #49a942;
  border: 1px solid #34bf49;
  padding: 8px 16px;
}

.button.secondary {
  color: darkslategray;
  border: 1px solid darkgrey;
}

.fa {
  color: purple;
  font-size: 24px;
  padding: 12px 0;
}

img {
  height: 80vw;
  width: 80vw;
  max-height: 350px;
  max-width: 350px;
  border-radius: 40vh;
}

.box {
  box-shadow: 0 0 8px 8px white;

  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 24px;
  overflow-y: scroll;
}

.center .intro {
  padding-left: 24px;
}

.center {
  flex-direction: column;
}

.top {
  justify-content: space-between;
}

.top ul {
  list-style: none;
}

.top ul li:last-child {
  padding-right: 0;
}

.top ul li {
  display: inline-block;
  padding-right: 8px;
}

.skills {
  text-align: right;
  max-height: 100px;
  padding-right: 16px;
}

.skills ul {
  margin: 4px 0;
  padding: 0;
}

.skills h3 {
  margin-top: 8px;
}

.bottom {
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .center {
    flex-direction: row;
  }
}
