html {
  max-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(227deg, #ffffff, #f9f9f9);
  background-size: 400% 400%;
  -webkit-animation: fadeBg 52s ease infinite;
  -moz-animation: fadeBg 52s ease infinite;
  -o-animation: fadeBg 52s ease infinite;
  animation: fadeBg 52s ease infinite;
  @-webkit-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @-moz-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @-o-keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
  @keyframes fadeBg {
    0% {
      background-position: 0% 97%;
    }
    50% {
      background-position: 100% 4%;
    }
    100% {
      background-position: 0% 97%;
    }
  }
}

body {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.975);
  z-index: 9;
  padding: 24px;
}

.fadeIn {
  animation: opac 1s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay,
.overlay h1 {
  font-weight: 300;
  line-height: 132%;
}

.overlay .inner {
  max-width: 768px;
}

.overlay .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.overlay .header button {
  margin-left: auto;
  font-size: 32px;
  font-weight: thin;
}

.button-container {
  margin-top: 32px;
  height: 50px;
}

.button-container .button {
  margin-right: 8px;
}

.overlay.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left,
.right {
  position: absolute;
  top: 24px;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left {
  left: 24px;
}

.right {
  right: 24px;
  padding-top: 8px;
  width: 50vw;
  max-width: 250px;
  text-align: right;
}

.left,
.left h1,
.left h2,
.left h3,
.left a,
.right,
.right h1,
.right h2,
.right h3,
.right a {
  font-weight: 300;
  text-shadow: 1px 1px 1px #f1f1f1;
}

.left h1,
.left h2,
.left h3,
.right h1,
.right h2,
.right h3 {
  margin: 0;
}

.left h2,
.right h2 {
  font-size: 16px;
}

.left h3 {
  font-size: 14px;
}

.left ul,
.right ul {
  list-style: none;
}

.left ul.social {
  padding: 0;
  margin-top: 8px;
}

.left ul.social li,
.right ul.skills li {
  display: inline-block;
  padding: 0 4px;
}

ul.skills {
  padding: 0;
}

.left ul.work {
  padding: 0 12px;
  margin-top: 8px;
}

.left ul.work li {
  font-size: 12px;
  margin: 4px 0;
}

img {
  box-shadow: 1px 1px 1px #f1f1f1;
}

.left img {
  height: 100px;
  width: 100px;
}

.center img {
  height: 48vh;
  width: 48vh;
  border-radius: 30vh;
  max-height: 375px;
  max-width: 375px;
}

.right ul.skills {
  text-align: right;
  margin: 0;
}

.right ul.skills li,
.button {
  margin-right: 2px;
  margin-bottom: 6px;
  border: 1px solid #f1f1f1;
  padding: 8px 16px;
}

.right ul.skills li {
  font-size: 12px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  color: #49a942;
  border: 1px solid #34bf49;
}

.button.secondary {
  color: darkslategray;
  border: 1px solid darkgrey;
}

.fa {
  color: purple;
}

.right .fa {
  font-size: 24px;
  padding: 12px 0;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center img {
  display: none;
}

.center .intro {
  font-size: 80%;
  padding: 24px 24px 0 24px;
}

.center .intro,
.center .intro h1 {
  font-weight: 300;
}

@media (min-width: 400px) {
  .left img {
    height: 125px;
    width: 125px;
  }
  .center .intro {
    padding-top: 48px;
  }
}

@media (min-width: 768px) {
  .left img {
    display: none;
  }
  .center {
    max-width: 700px;
  }
  .center img {
    display: block;
  }
  .center .intro {
    font-size: 100%;
    display: block;
    margin-left: 24px;
  }
}

@media (min-width: 1024px) {
  .center {
    max-width: 900px;
  }
  .center .intro {
    display: block;
  }
}
