
@font-face {
  font-family: 'FiraCode-Regular';
  src: url('FiraCode-Regular.eot?#iefix') format('embedded-opentype'),  url('FiraCode-Regular.woff') format('woff'), url('FiraCode-Regular.ttf')  format('truetype'), url('FiraCode-Regular.svg#FiraCode-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
