html,
body {
  background: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 32px 0 0 0;
  padding: 0;
}

a {
  color: #5ecc62;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  color: #2f323a;
  font-weight: 400;
}

.header {
  color: white;
}

.store {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  max-width: 1200px;
  padding: 32px 24px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .store {
    padding-top: 64px;
  }
}

.store h1,
.store h2 {
  margin-bottom: 4px;
}

.store h2 {
  margin-top: 0;
}

.store h2 {
  font-size: 110%;
}

.store h3:first-of-type {
  margin-top: 12px;
}

.store h4:first-of-type {
  margin-top: 12px;
}

.store sub {
  font-style: italic;
  font-size: 80%;
}

.store ul,
.store ol {
  padding: 0;
  margin: 0;
}

.store ol {
  padding-left: 32px;
}

.store ul li {
  list-style: none;
  margin: 16px 0 24px 0;
  padding-left: 16px;
  display: flex;
}

.store ul li img {
  max-height: 160px;
  margin-right: 16px;
}

.store ul li p {
  margin: 8px 0;
}

.store ul li .small {
  padding: 0;
  font-size: 80%;
  font-style: italic;
}

.button i {
  padding: 4px;
  position: relative;
  top: 4px;
  font-size: 150%;
  padding-top: 0;
}

.button.amazon {
  background: #ff9900;
  border: 1px solid #146eb4;
}
