h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.header {
  color: white;
}

.store {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  margin-top: 100px;
  padding: 16px;
}

.store h1,
.store h2 {
  margin-bottom: 4px;
}

.store h2 {
  font-size: 110%;
}

.store sub {
  font-style: italic;
  font-size: 80%;
}
