*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #2f323a;
}

html,
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body.noScroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

a,
p {
  font-weight: 300;
}

button {
  font-weight: 300 !important;
  background: none;
  border-width: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 150%;
}

h4 {
  font-size: 140%;
}

.divider {
  height: 1px;
  background-color: #5ecc62;
  width: 160px;
  margin: 16px 0;
}

.poloroid {
  background: white;
  padding: 24px;
  max-width: 368px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

#about .poloroid p.caption {
  font-family: "Permanent Marker", Courier, monospace;
  color: black !important;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin: 8px 0 0 0;
  text-align: center;
}

#about .poloroid p.caption a {
  color: #5ecc62;
  text-decoration: none;
}

.separator {
  background: #5ecc62;
  width: 100px;
  height: 2px;
  margin: 4px 0;
}

.separator.dark {
  background: #353a47;
}

#mobileMenu,
#consultingPopup {
  display: none;
  z-index: 2;
}

#mobileMenu.shown,
#consultingPopup.shown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: #5ecc62;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-y: scroll;
}

#mailchimp {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #5ecc62;

  display: flex;
  align-items: center;
  justify-content: center;
}

#mailchimp form {
  text-align: center;
  padding: 8px 4px;
  margin: 0 auto;
}

#mailchimp .button {
  color: #2f323a;
}

#mailchimp .border:hover {
  border-color: #2f323a;
}

#mailchimp form,
#mailchimp input,
#mailchimp label {
  display: inline;
  width: auto;
  font-size: 90% !important;
}

#mailchimp input,
#mailchimp label {
  margin: 0;
}

#mailchimp label {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  #mailchimp label {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

#mailchimp #consultingPopup.shown {
  padding-top: 80px;
  justify-content: flex-start;
}

form {
  width: 80%;
  max-width: 768px;
  margin: 0 auto;
  padding: 24px;
}

form input,
form select {
  margin-bottom: 12px;
}

form input,
form textarea,
form select {
  width: 100%;
}

form {
  border: none;
  padding: 0;
  margin: 6px;
}

form label {
  display: block;
  margin-bottom: 4px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

form input,
form textarea,
form select,
form select option {
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  font-weight: 300;
}

form textarea {
  height: 240px;
}

form button {
  font-size: 18px;
}

form button:hover {
  color: #353a47;
  border-color: #353a47;
}

@media (min-width: 768px) {
  #consultingPopup.shown {
    justify-content: center;
  }
}

#mobileMenu a,
#consultingPopup a {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-size: 24px;
}

#mobileMenu .closeButton,
#consultingPopup .closeButton {
  position: absolute;
  z-index: 2;
  top: 24px;
  right: 24px;
  font-size: 24px;
  color: white;
  box-shadow: none;
}

.header {
  position: absolute;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header .title img {
  width: 50px;
  padding: 8px;
}

.header h2,
.header ul li a {
  padding: 0;
  margin: 0;
  color: white;
}

.header h1 {
  font-weight: 500;
}

.header h2 {
  font-size: 100%;
}

.header ul {
  display: none;
  list-style: none;
  margin-left: auto;
}

.header #hamburger {
  display: inline-block;
  font-size: 24px;
  color: white;
  margin-left: auto;
}

.header #hamburger.hidden {
  display: none;
}

@media (min-width: 768px) {
  .header ul {
    display: inherit;
  }

  .header #hamburger {
    display: none;
  }
}

.header ul li {
  display: inline;
  padding-right: 24px;
}

.header ul li a {
  text-decoration: none;
}

.header ul li a:hover {
  color: #5ecc62;
}

.header a.button {
  padding: 8px 16px;
}

.intro {
  height: 100vh;
  background: url("../img/bg-dark.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 16px;

  text-align: center;
}

.intro .description {
  margin-top: 160px;
}

.intro h3 {
  padding: 0;
  margin: 8px 8px 32px 8px;
  letter-spacing: 8px;
  text-align: center;
  line-height: 32px;
  font-size: 56px;
}

@media (min-width: 768px) {
  .intro h3 {
    line-height: 36px;
    font-size: 120px;
    margin-bottom: 48px;
  }
}

.intro .button-container button,
.intro .button-container a {
  font-size: 80% !important;
  letter-spacing: 1px;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.button-container .button:first-of-type {
  margin-left: 0;
}

@media (min-width: 450px) {
  .button-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .button-container {
    justify-content: flex-start;
  }
}

.button-container.left {
  justify-content: flex-start;
}

.button-container.left .button {
  margin-left: 0;
}

.button {
  padding: 8px 16px;
  margin: 8px;
  border-width: 1px !important;
  border: 1px solid white;
  border-radius: 24px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 300 !important;
}

.button.inline {
  font-size: 20px !important;
}

@media (min-width: 768px) {
  .button.inline {
    font-size: 28px !important;
  }
}

.button:hover {
  cursor: pointer;
  color: #5ecc62;
  border-color: #5ecc62;
}

.button.primary {
  background: #5ecc62;
  font-size: 16px;
  border-color: #6bd96f;
  font-weight: 300;
}

p .button {
  position: relative;
  top: -4px;
}

.button.primary:hover {
  color: #2f323a;
}

#about {
  padding: 64px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #353a47;
}

#about img {
  width: 320px;
  max-width: 80vw;
}

@media (min-width: 768px) {
  #about img {
    margin: 0;
  }
}

#about a {
  color: #5ecc62;
  padding: 2px;
  font-weight: bold;
}

#about a:visited {
  color: white;
}

#about .description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

#about .description p {
  letter-spacing: 1px;
  color: white;
  line-height: 32px;
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 768px) {
  #about {
    padding: 64px;
  }

  #about .description {
    text-align: left;
    flex-direction: row;
  }

  #about .description p {
    margin-left: 24px;
  }
}

@media (min-width: 970px) {
  #about .description p {
    font-size: 32px;
    line-height: 48px;
  }
}

.social-links {
  margin-top: 64px;
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  padding: 8px;
}

.social-links li a i {
  font-size: 24px;
}

.social-links li a:visited i {
  color: #5ecc62;
}

.social-links li a i:hover {
  color: #fff200;
}

footer {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: #5ecc62;
}
